* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html,
body, .wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper .main {
  width: 100%;
  flex: 1;
  background: #edf9fe;
}

.wrapper .main .min {
  width: 70%;
  margin: 1.33333rem auto;
  height: 13.33333rem;
}

.wrapper .main .min input {
  width: 100%;
  height: 1.06667rem;
  background: #fff;
  border-radius: 0.13333rem;
  margin-bottom: 0.4rem;
  padding: 0 0.4rem;
}

.wrapper .main .min ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .main .min ul .yi {
  color: #7fb9f6;
}

.wrapper .main .min ul li {
  width: 50%;
  text-align: center;
}

.wrapper .main .min button {
  width: 100%;
  height: 1.06667rem;
  color: #fff;
  background: #4994f4;
  border-radius: 0.13333rem;
  margin: 0.4rem 0;
}

.wrapper .main .min ol {
  width: 100%;
  display: flex;
  text-align: center;
  margin-bottom: 0.4rem;
}

.wrapper .main .min ol .yi {
  color: #7fb9f6;
}

.wrapper .main .min ol li {
  width: 50%;
  text-align: center;
}

.wrapper .main .min img {
  width: 100%;
  height: 2.66667rem;
}

.wrapper .footer {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
}

.wrapper .footer span {
  color: skyblue;
}
